
		 body {
            background-color:#00008B;
         }
		 .title { 
            font-family:  Comic Sans MS; color:#FFFFFF;
         } 	 
		 a { color: #FFA07A; font-size: 24px;} /* CSS link color */
		 
		 #content1 {
		    font-size: 24px; color:#FFFFFF; font-family: Comic Sans MS;
         }
		 
		 #content2 {
		    font-size: 24px; color:#FFFFFF; font-family: Comic Sans MS;
         }
		 #content2::before{
             content: "\a \a";
             white-space: pre;
         }
		 
		 #content3 {
		    font-size: 24px; color:#FFFFFF; font-family: Comic Sans MS;
         }
		 #content3::before{
             content: "\a";
             white-space: pre;
         }
		 
		